.upload-video-form {position: sticky; top: 70px; }
.upload-video-form .form-group label{font-size: 12px; color: #fff; letter-spacing: 0.5px; margin-bottom: 0px;}
.upload-video-form .form-group input.form-control {padding: 12px 10px; outline: none; border-radius: 2px; border: 1px solid #535158; height: auto; color: #fff; background: transparent; font-size: 12px; }
.upload-video-form .form-group input.form-control:focus,
.upload-video-form .form-group select.form-control:focus,
.upload-video-form .form-group textarea.form-control:focus{box-shadow: none}
.upload-video-form .form-group input.form-control::-webkit-input-placeholder,
.upload-video-form .form-group textarea.form-control::-webkit-input-placeholder {color:#c4c3c7; } 
.upload-video-form .form-group input.form-control::-moz-placeholder,
.upload-video-form .form-group textarea.form-control::-moz-placeholder {color:#c4c3c7; }
.upload-video-form .form-group input.form-control:-ms-input-placeholder,
.upload-video-form .form-group textarea.form-control:-ms-input-placeholder{color:#c4c3c7; } 
.upload-video-form .form-group input.form-control:-moz-placeholder,
.upload-video-form .form-group textarea.form-control:-moz-placeholder {color:#c4c3c7; } 
.upload-video-form .form-group select.form-control {padding: 12px 10px; outline: none; border-radius: 2px; border: 1px solid #535158; height: auto !important; color: #fff; background: transparent; font-size: 12px; }
.upload-video-form .form-group textarea.form-control {padding: 12px 10px; outline: none; border-radius: 2px; border: 1px solid #535158; height: auto !important; color: #fff; background: transparent; font-size: 12px; }
.upload-video-form .form-group select option { color: #ffffff; background:#15141a;}
.sb-modal-btn {background:#15141a; padding: 10px 20px; font-size: 14px; color: #fff; border-radius: 2px; outline: none; font-weight: 600; border: none; }
.sb-modal-btn:hover{box-shadow: none;outline: none;}

.upload-file {display: flex; align-items: center; justify-content: center; border: 2px dotted #7b7882; height: 130px; background: #343339; border-radius: 20px; }
.upload-media {font-size:35px; } 
.upload-video-form .form-group label span {font-size: 10px; color: #cccbd6; }
.uploadfile {width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;}
.addfile + label {color: #024405; letter-spacing: 4px; text-transform: uppercase; text-align: center; }
.addfile:focus + label,
.addfile.has-focus + label,
.addfile + label:hover {color: #ffffff; }
.addfile + label figure {width: 100px; height: 100px; border-radius: 50%; background-color: #d3394c; display: block; padding: 20px; margin: 0 auto 10px; }
.sb-feeds-media {width: 100%; height: 250px; display: block; background: #f8f4d9; border-radius: 0; overflow: hidden; }
.sb-feeds-media img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

.upload-media-item {position: relative; }
.upload-image {width: 100%; height: 130px; display: block; background: #343339; border-radius: 20px; overflow: hidden; }
.upload-image img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center;}
.upload-icon {position: absolute; top: 0; right: 0; left: 0; bottom: 0; display: flex; align-items: center; justify-content: center; }
.upload-icon i{color: #fff;font-size: 40px;}
span.remove-file {position: absolute;cursor: pointer; right: -6px; top: -6px; font-size: 17px; color: #fb0000; background: #fff; width: 30px; text-align: center; border-radius: 50px; display: inline-block; height: 30px; line-height: 30px; }

.sb-modal .modal-content {background: #343339; border: none; }
.sb-modal .modal-header {background: #2b2a2f; border: none; }
.sb-modal .modal-title {margin-bottom: 0; line-height: 1.5; font-size: 12px; color: #fff; margin: 0; padding: 0; }
.sb-modal button.close {color: #fff !important; opacity: 1 !important; outline: none; box-shadow: none; margin: 0; padding: 0; }
.sb-modal-form .form-group label{font-size: 12px; color: #fff; letter-spacing: 0.5px; margin-bottom: 0px;}

.user-session-info{border: 1px solid #4f4d56; margin-bottom: 10px; padding: 10px; }

.Trainer-other-list{margin: 0;padding: 0;list-style: none;}
.Trainer-other-list li:first-child{border: none;}
.Trainer-other-list li {border-top: 1px solid #4f4d56;padding: 5px 0;position: relative;}
.Trainer-other-list li span.pd-left {width:35%;font-size: 12px;margin-bottom: 0;display: inline-block;vertical-align: top;color: #fff;} 
.Trainer-other-list li span.pd-right {width:60%;font-size: 12px;margin-bottom: 0;display: inline-block;vertical-align: top;color: #fff;}


.feeds-sidebar {background: #262431; padding: 20px; border-radius: 5px; }
.feeds-search {margin-bottom: 20px; } 

.sidebar-form-group {position: relative;}
.sidebar-form-group input.form-control {font-size: 12px; color: #ffffff; border: none; padding: 12px 35px 12px 12px; height: auto; box-shadow: none; outline: none; background: #15141a; }
.sidebar-form-group input.form-control::-webkit-input-placeholder {color:#ffffff; } 
.sidebar-form-group input.form-control::-moz-placeholder {color:#ffffff; }
.sidebar-form-group input.form-control:-ms-input-placeholder {color:#ffffff; } 
.sidebar-form-group input.form-control:-moz-placeholder {color:#ffffff; } 
.search-form-icon {position: absolute; right: 12px; top: 14px; font-size: 14px; color: #6b6975; }

.sb-feeds-content-item {background: #15141a; position: relative; margin: 10px 0; border-radius: 10px; padding: 20px; }
.sb-feeds-content-item h2{font-size: 14px; font-weight: bold; color: #fff; margin: 0;padding: 0;}
.sb-feeds-content-item p{font-size: 13px; color: #fff;}

.sb-feeds-user-media{width:40px; height:40px;margin-right: 10px;display: block; background: #343339; border-radius:50%; overflow: hidden; }
.sb-feeds-user-media img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center;}
.sb-feeds-user-text {-webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; }

.sb-feeds-media{width: 100%; height:250px;margin-bottom: 10px;display: block; background: #343339; border-radius: 0px; overflow: hidden; }
.sb-feeds-media img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center;}
.loaction-info {font-size: 12px; color: #fff; margin-bottom: 15px; }
.loaction-info i {font-size: 18px; vertical-align: middle; margin-right: 5px; }
.sb-feeds-footer {display: flex; width: 100%; position: relative; align-items: center; padding:10px 0; border-top: 1px solid #535158; }
.sb-feeds-footer a {margin: 0 2px;}
a.Visit-btn {background: #15141a; padding: 10px 30px; font-size: 13px; color: #fff; border-radius: 2px; outline: none; font-weight: normal; border: 1px solid #343339; }
.date-time {font-size: 11px; }
.feeds-user-action {margin-left: auto; }
.action-btn{background: #35333e; height: 40px; width: 40px; display: inline-block; text-align: center; border-radius: 50px; line-height: 40px; color: #fff; font-size: 20px; }
.action-btn:hover{color: #fff}


.sb-feeds-slider {clear: both; width: 100%; margin-top: 0; }
.sb-feeds-header {display: flex; width: 100%; position: relative; align-items: center; margin-bottom: 10px; } 
.sb-feeds-user-info {display: flex; align-items: center; width: 90%; }

.sb-feeds-slider .owl-dots {position: relative;left: 0;right: 0;bottom: 0;}
.sb-feeds-slider .owl-dots, 
.sb-feeds-slider .owl-nav {text-align: center;-webkit-tap-highlight-color: transparent;}
.sb-feeds-slider .owl-dots .owl-dot {display: inline-block;zoom: 1;}
.sb-feeds-slider .owl-nav button span {outline: none; font-size: 35px; background: rgb(32 31 39 / 70%); color: #fff; width: 40px; height: 40px; border-radius: 50%; display: inline-block; line-height: 37px; }
.sb-feeds-slider .owl-dots .owl-dot.active span, 
.sb-feeds-slider .owl-dots .owl-dot:hover span {background: #f47b36;}
.sb-feeds-slider .owl-nav {width: 60px; text-align: center;   }
.sb-feeds-slider .owl-prev {left:5px; top:40%; position: absolute;     outline: none;}
.sb-feeds-slider .owl-next {right:5px; top:40%; position: absolute;     outline: none;}
.sb-feeds-media video {width: 100%; height: 250px; }


.upload-video-form .form-group select.form-control {
    padding: 12px 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid #535158;
    height: auto;
    color: #fff;
    background: transparent;
    font-size: 12px;
}

.sidebar-form-group select.form-control {
    font-size: 12px;
    color: #ffffff;
    border: none;
    padding: 12px 35px 12px 12px;
    height: auto;
    box-shadow: none;
    outline: none;
    background: #15141a;
}